<body style="background: #111111; overflow-y: scroll;">
{% extends "video_tiktok/base.html" %}
{% load i18n static %}

{% block title %}
<h6><strong>Restablecimiento de la contraseña completo</strong></h6>
{% endblock %}

{% block content %}

<img src="{% static 'video_tiktok/logo/vrlabs.png' %}" class="img-fluid" alt="Logo" width="150" style="position: absolute; top: 15px;" />
<br><br><br><br>
<div class="card mx-auto mt-3" style="width: 25rem; background-color: #f0f0f0; border-radius: 10px;">
  <div class="card-body text-center">
    <h3>Contraseña guardada</h3>
    <p>Tu contraseña ha sido cambiada con éxito.</p>
    <a href="{% url 'loguear' %}" class="btn btn-primary mt-3 mb-1" style="filter: saturate(1.5);">Iniciar sesión</a>
  </div>
</div>
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <i class="fas fa-exclamation-triangle"></i>
    {{ form.errors }}
  </div>
{% endif %}

{% endblock %}
