<!-- templates/registration/password_reset_done.html -->
<body style="background: #111111; color: white; overflow-y: scroll;">
{% extends "video_tiktok/base.html" %}
{% load i18n static %}
{% block title %}Correo electrónico enviado{% endblock %}

{% block content %}
<br><br><br><br>
<div class="card mx-auto mt-3" style="width: 50rem; background: #111111; color: white; border-radius: 10px; border: 1px solid rgba(204, 204, 204, 0.3);">
  <div class="card-body text-center">  <h2>Compruebe su buzón de correo electrónico</h2>
      <p>Se le ha enviado instrucciones para establecer su nueva contraseña.<br>
         ¡Debería recibir el correo electrónico en breve!.</p>
      <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>

  </div>
</div>


{% endblock %}