{% load i18n %}{% autoescape off %}
{% trans "Hola" %} {{ user.get_username }},

{% trans "Hemos recibido una solicitud para restablecer su contraseña. Si no realizó esta solicitud, puede ignorar este correo electrónico con seguridad. De lo contrario, haga clic en el botón a continuación para restablecer su contraseña." %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Su nombre de usuario, en caso de que lo haya olvidado es:" %} {{ user.get_username }}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% trans "Equipo de VRlabs" %}

{% endautoescape %}
