<body style="background: #111111; overflow-y: scroll;">
{% extends "video_tiktok/base.html" %}
{% load i18n static %}

{% block title %}
<h6><strong>Introducir nueva contraseña</strong></h6>
{% endblock %}

{% block content %}

<style>
  ul.errorlist {
    list-style: none; /* Quita los estilos de lista predeterminados */
    padding: 0; /* Quita el relleno predeterminado de la lista */
}

  /* Estilo para li dentro de ul.errorlist */
  ul.errorlist li {
      color: red; /* Establece el color del texto en rojo */
      font-weight: bold; /* Hace que el texto sea más destacado, si lo deseas */
  }
</style>

<img src="{% static 'video_tiktok/logo/vrlabs.png' %}" class="img-fluid" alt="Logo" width="150" style="position: absolute; top: 15px;" />
<br><br><br><br>
<div class="card mx-auto mt-3" style="width: 35rem; background-color: #f0f0f0; border-radius: 10px;">
  <div class="card-body text-center">
    <h2>Restablecer contraseña</h2>
    <p>Ingresa tu nueva contraseña a continuación.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <input type="submit" value="Cambiar contraseña" class="btn btn-primary mt-3 mb-1" style="margin: auto; filter: saturate(1.5);">
      </div>

    </form>

  </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}